<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meta Clipboard OS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Meta Clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D81F45D81C5827DC00F9934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81F45EF1C5827DC00F9934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D81F45FA1C5827DC00F9934D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C009D31C58320C000A6ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C009E31C58320C000A6ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C009EE1C58320D000A6ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
